<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="JiaYing(Fiona) Lin" />
    <meta name="robot" content="index, follow" />
    <base target="_self" />
    <meta name="descirption" content="" />
    <title>Homepage</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <p>This is homepage.</p>
  </body>
</html>
